<mat-drawer-container>
  <mat-drawer mode="over" position="end">
    <mat-tab-group mat-align-tabs="center">
      <mat-tab label="Details" class="prueba">
        <app-character-detail
          [character]="selectedCharacter"
        ></app-character-detail>
      </mat-tab>
      <mat-tab label="Comics" class="prueba">
        <app-comic-list
          *ngIf="selectedCharacter"
          [character]="selectedCharacter"
        ></app-comic-list>
      </mat-tab>
    </mat-tab-group>
  </mat-drawer>
  <mat-drawer-content>
    <mat-progress-bar
      mode="indeterminate"
      *ngIf="showProgress"
    ></mat-progress-bar>

    <div class="search">
      <mat-form-field>
        <input
          matInput
          placeholder="Search for characters..."
          #searchBox
          [(ngModel)]="searchText"
        />
      </mat-form-field>
    </div>

    <div class="pagination">
      <button
        mat-fab
        color="primary"
        aria-label="less"
        [disabled]="offset == 0"
        (click)="getAllCharacters(limit, offset - 32)"
      >
        <mat-icon>arrow_back_ios</mat-icon>
      </button>
      <button
        mat-fab
        color="primary"
        aria-label="more"
        [disabled]="offset == 1493"
        (click)="getAllCharacters(limit, offset + 32)"
      >
        <mat-icon>arrow_forward_ios</mat-icon>
      </button>
    </div>

    <mat-grid-list cols="4" rowHeight="250">
      <mat-grid-tile
        *ngFor="let character of characters | async | appFilter: searchText"
      >
        <app-character-card
          [character]="character"
          (selectedChange)="selectCharacter($event)"
        ></app-character-card>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-drawer-content>
</mat-drawer-container>
